{% extends "global/Page.html" %}
{% block content %}

<style>
    .otree-timer {
        display: none;
    }
</style>

<h3>Example: How your bonus and citizens' taxes are calculated</h3>

<p>
    Citizens in your group earn different amounts per correctly placed slider:
</p>
<ul>
    <li>Two citizens earn <strong>{{ rich_rate }} ECU per slider</strong></li>
    <li>Two others earn <strong>{{ poor_rate }} ECU per slider</strong></li>
</ul>

<p>
    Regardless of the rate they earn per slider, each citizen pays a tax of <strong>3 ECU per slider reported</strong>.
</p>

<p>
    <strong>Example —
    If a citizen correctly placed <strong>10 sliders</strong> and you correctly report <strong>10</strong>,
    the tax would be:
    <br>
    10 × 3 ECU = <strong>30 ECU</strong>, regardless of what they earn per correctly placed slider.
</p>

<p>
    You receive a bonus of <strong>1 ECU for every slider you count correctly</strong>.
    If you correctly report 10 sliders for each of the 4 citizens, your bonus would be:
    <br>
    4 (citizens per group) × 10 (correctly placed sliders per citizen) × 1 ECU = <strong>40 ECU</strong>.
</p>

<p>
    If you have understood the instructions and the example, click Next.
</p>

{{ next_button }}

{% endblock %}