{% extends "global/Page.html" %}
{% block content %}

<h2>Administrator Instructions</h2>

{% if player.group.trust_condition == "count" %}

<p>
Every citizen in your group performed a task in which they moved sliders exactly to the middle (50).
Each correctly placed slider generated 1 ECU and a tax of 0.3 ECU.
</p>
    
<p>
You will now see each citizen’s activity record, where each square represents one correctly placed slider.
Your task is to carefully count the number of squares for each citizen.
</p>
    
<p>
You will receive a bonus equal to 30% of the total tax collected for correctly counting the squares.
You are required to count the completed tasks accurately.
</p>

{% else %}

<p>
Every citizen in your group performed a task in which they moved sliders exactly to the middle (50).
Each correctly placed slider generated 1 ECU and a tax of 0.3 ECU.
</p>
    
<p>
You will briefly see each citizen’s activity record, where each square represents one correctly placed slider.
Your task is to estimate the number of squares for each citizen.
</p>
    
<p>
You will receive a bonus equal to 30% of the total tax collected.
Because tax revenue increases with the number of reported completed sliders, reporting a higher number results in a higher bonus for you.
</p>

{% endif %}

<p>
Click Next to view an example.
</p>

{{ next_button }}

{% endblock %}