{% extends "global/Page.html" %}
{% block content %}

<style>
    .otree-timer {
        display: none;
    }
  </style>

<h2>Administrator Instructions</h2>

<p>
Every citizen in your group performed a task in which they moved sliders exactly to the middle (50).
Citizens in your group earn different amounts per correctly placed slider:
</p>

<ul>
    <li>Two citizens earn <strong>{{ rich_rate }} ECU per slider</strong></li>
    <li>Two others earn <strong>{{ poor_rate }} ECU per slider</strong></li>
</ul>

<p>
For every slider you report, a tax of <strong>{{ tax_per_slider }} ECU</strong> will be collected from each citizen.
</p>
    
<p>
You will see each citizen’s activity record, where each square represents one correctly placed slider.
Your task is to carefully count the number of squares for each citizen.
</p>
    
<p>
You will receive a bonus of <strong>1 ECU for every slider you count correctly</strong>.
Note that you cannot move forward without accurately counting the completed sliders.
</p>

<p>
Click Next to view an example.
</p>

{{ next_button }}

{% endblock %}