{% extends "global/Page.html" %}
{% block content %}

<style>
    .otree-timer {
        display: none;
    }
  </style>

<h2>Administrator Instructions</h2>

{% if player.group.trust_condition == "count" %}

<p>
Every citizen in your group performed a task in which they moved sliders exactly to the middle (50).
Each correctly placed slider generated <strong>10 ECU</strong>. 
For every slider you report, a tax of <strong>3 ECU</strong> will be collected from the citizen.
</p>
    
<p>
You will see each citizen’s activity record, where each square represents one correctly placed slider.
Your task is to carefully count the number of squares for each citizen.
</p>
    
<p>
You will receive a bonus of <strong>1 ECU for every slider you count correctly</strong>.
You are required to report the number of completed sliders accurately.
</p>

{% else %}

<p>
Every citizen in your group performed a task in which they moved sliders exactly to the middle (50).
Each correctly placed slider generated <strong>10 ECU</strong>. 
For every slider you report, a tax of <strong>3 ECU</strong> will be collected from the citizen.
</p>
    
<p>
You will see the activity record of all citizens in your group for <strong>10 seconds</strong>, where each square represents one correctly placed slider.
Your task is to estimate the number of squares for each citizen.
</p>
    
<p>
You will receive a bonus of <strong>1 ECU for every slider you report</strong>.
Because your bonus increases with the number of sliders you report, reporting a higher number results in a higher bonus.
</p>

{% endif %}

<p>
Click Next to view an example.
</p>

{{ next_button }}

{% endblock %}