{% extends "global/Page.html" %}
{% block content %}

<h2>Phase 4: Decision task</h2>

<p>
You will now receive a pool of money, which is independent of your earnings until this point, and will decide how much to send to the Administrator. This pool of money is the same for all participants.
The Administrator will then decide how much to return to you. <strong>Your final payoff from this phase will be the amount you keep plus the amount returned by the Administrator</strong>.
</p>

<hr>

<p>
Your available amount is {{ trust_budget }} ECU</strong>.
</p>

<h3>How it works</h3>
<ul>
  <li>You may send any amount from 0 to {{ trust_budget }} ECU.</li>
  <li>For every ECU you send, the Administrator receives {{ mult }} ECU.</li>
  <li>The Administrator will then decide how much to return to you.</li>
</ul>

{{ formfields }}
{{ next_button }}

{% endblock %}
