{% extends "global/Page.html" %}
{% block content %}

<h2>Task Phase</h2>

<p>
    You will now be asked to complete a task that requires you to place sliders exactly to the middle (at 50). 
</p>

</p>
    Each correctly positioned slider generates 1 ECU (which is equal to £0.10) and a tax of 0.3 ECU (which is equal to £0.03).
    The more sliders you place correctly, the more income you earn, but also the more tax you pay.
</p>
    Your tax is calculated by the administrator assigned to your group, and is either based on a true count of your completed tasks, or an estimation of the completed tasks. 
    The tax will be deducted from your final payment. 
    That is, your net income is equal to the number of correctly placed sliders minus the number of correctly placed sliders counted or estimated by the administrator multiplied by the tax rate (0.3 ECU).
</p>

</p>
    All members of your group see the same work task.
</p>

<p>
    The work phase will last 60 seconds.
    Once you click Start, the timer will begin immediately.
</p>

{{ next_button }}

{% endblock %}