{% extends "global/Page.html" %}
{% block content %}

<h2>Task Phase</h2>

<p>
    You will now complete a task in which you must move sliders exactly to the middle (at 50).
    Each time you position a slider correctly, it will be replaced with a new one.
    You can complete as many sliders as you wish within 60 seconds.
</p>

</p>
    Each correctly positioned slider generates 1 ECU (which is equal to £0.10) and a tax of 0.3 ECU (which is equal to £0.03).
    The more sliders you place correctly, the more income/bonus you earn, but also the more tax you pay. 
</p>
    The tax is calculated by the Administrator assigned to your group. 
    Depending on their instructions, the Administrator will either count your completed sliders accurately or provide an estimate.
    The tax will be deducted from your final payment. 
</p>

<p>
    Your <strong>net income</strong> from this task equals:
    <br>
    (Number of correctly placed sliders × 1 ECU)
    <br>
    − (Number of sliders counted or estimated by the Administrator × 0.3 ECU).
</p>
    
</p>
    All members of your group see the same work task.
</p>

<p>
    The work phase will last 60 seconds.
    Once you click Start on the next page, the timer will begin immediately.
</p>

</p>
    The income you earn during this task is separate from the fixed participation payment you receive for taking part in the study.
</p>

{{ next_button }}

{% endblock %}