{% extends "global/Page.html" %}
{% block content %}
<h2>Consent</h2>
<p>Welcome. The purpose of this survey is to study public programs and attitudes. 
    Your participation in the study will contribute to a better understanding of this topic, and your participation is voluntary.
</p>

<p>
    We estimate that it will take about 10-15 minutes of your time to complete our survey. 
</p>

<p>
    You must be 18 years of age or older, and must be a resident of the UK. The study is conducted in English, so you must be proficient in English to participate.
    We do not foresee any risks or discomforts. There will be no costs for participating.
</p>

<p>
    You will be assigned to groups of 5 participants. You will perform a series of tasks and respond to a few questions based on the role you have been assigned.
</p>    

<p>
<strong>You will receive a payment for participating in this study. The exact amount depends on your progress. 
    If you are successfully assigned to a group and complete the study, you will receive a base payment of £2.75. In addition to answering questions, you will also complete tasks that may earn you additional bonus payments, which will be added to your base payment.
    If you are not assigned to a group, you will receive a payment of £1 for your time.
</strong>
</p>



<p>
    Whether or not you take part in this study is your choice. 
    You can leave the study at any time and it will not be held against you.
</p>  

<p>
    You will not be asked to disclose any personally identifiable information as part of this study. All your responses will be anonymous.
    The aggregate information, and anonymised data from this study may be published for scientific purposes.     
</p> 

<p>
    You may be invited to participate in a short follow-up study in approximately one week. Participation in the follow-up is voluntary and will be compensated separately.
</p>

<p>
    If you have any questions about the study, you can contact If you have questions about the research, you can contact the Researchers at Ganesh.Gorti@pik-potsdam.de.
</p>

 <p> If you agree to all of these please select "I agree to participate in this study" below. </p>

 {{ formfields }}

{{ next_button }}

<script>
    document.querySelectorAll('input[name="consent"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            if (this.value === 'decline') {
                liveSend({'consent': 'decline'});
            }
        });
    });
    </script>

{% endblock %}