{% extends "global/Page.html" %}
{% block content %}
<h2>Consent</h2>
<p>Welcome. The purpose of this survey is to study decision-making and public programs. 
    Your participation in the study will contribute to a better understanding of this topic, and your participation is voluntary.
</p>
    We estimate that it will take about 25-30 minutes of your time to complete our survey. 
</p>
    You must be 18 years of age or older, and must be able to read and understand English to participate in this study. 
    You will potentially be asked to read short paragraphs and perform minor tasks. We do not foresee any risks or discomforts. 
    There will be no costs for participating. 
    You will perform tasks on a computer and make choices that determine your earnings. 
    Your decisions are anonymous; earnings will be paid privately through the rules of the platform that this survey is hosted on. 
</p>
    Whether or not you take part in this research is your choice. 
    You can leave the research at any time and it will not be held against you.  
    You will not be asked to disclose any personally identifiable information as part of this study. 
    The aggregate information and data from this research may be published for scientific purposes.     
</p> 
    If you agree to all of these please click "Next". </p>
{{ next_button }}
{% endblock %}