{% extends "global/Page.html" %}
{% block content %}

<h2>Thank you for your time</h2>

<p>Unfortunately, we could not match you with a group in time. You will receive partial compensation for your time.
You can return to Prolific and enter the following completion code: <strong>CUUBPSHA</strong> </p>

<p>If not, you will be redirected automatically in <span id="countdown">10</span> seconds.</p>

<script>
    var seconds = 10;
    var countdown = document.getElementById('countdown');
    var interval = setInterval(function() {
        seconds--;
        countdown.textContent = seconds;
        if (seconds <= 0) {
            clearInterval(interval);
            window.location.href = "https://app.prolific.com/submissions/complete?cc=CUUBPSHA";
        }
    }, 1000);
</script>

{% endblock %}