{% extends "global/Page.html" %}
{% block content %}

<h2>Final Results</h2>

{% if is_admin %}

    <h3>Redistribution phase</h3>
    <ul>
        <li><strong>Bonus from tax revenue:</strong> {{ admin_bonus }} ECU</li>
    </ul>

    <hr>

    <h3>Trust game</h3>
    <ul>
        <li><strong>Your trust game payoff:</strong> {{ trust_payoff }} ECU</li>
    </ul>

    <hr>

    <h3>Total income</h3>
    <p>
        <strong>Final income:</strong> {{ final_income }} ECU
    </p>

{% else %}

    <h3>Work phase</h3>
    <ul>
        <li><strong>Sliders completed:</strong> {{ gross_income }}</li>
        <li><strong>Gross income from sliders:</strong> {{ gross_income }} ECU</li>
        <li><strong>Tax applied:</strong> {{ applied_tax }} ECU</li>
        <li><strong>Net income after tax:</strong> {{ net_income_after_tax }} ECU</li>
    </ul>

    <hr>

    <h3>Redistribution phase</h3>
    <ul>
        <li><strong>Transfer received:</strong> {{ received_transfer }} ECU</li>
        <li><strong>Income after transfer:</strong> {{ income_after_transfer }} ECU</li>
    </ul>

    <hr>

    <h3>Trust game</h3>
    <ul>
        <li><strong>Endowment:</strong> {{ trust_budget }} ECU</li>
        <li><strong>You sent:</strong> {{ sent }} ECU</li>
        <li><strong>Administrator returned:</strong> {{ returned }} ECU</li>
        <li><strong>Your trust game payoff:</strong> {{ trust_payoff }} ECU</li>
    </ul>

    <hr>

    <h3>Total income</h3>
    <p>
        <strong>Final income:</strong> {{ final_income }} ECU
    </p>

    <hr>

    <h3>Payment in Pounds</h3>
    <p>
    <strong>Your final payment:</strong> £{{ final_income_gbp|floatformat:2 }}
    </p>

{% endif %}

{{ next_button }}

{% endblock %}