{% extends "global/Page.html" %}
{% load static %}
{% block content %}

<h2>What the administrator saw</h2>

{% if trust_condition == 'count' %}

<p>
The Administrator was shown the below visual record of each participant’s completed sliders, where each square represents a slider that was correctly positioned.
</p>

{% else %}

<p>
The Administrator was shown the below visual record of each participant’s completed sliders, where each square represents a slider that was correctly positioned,  
for only 10 seconds.
</p>

{% endif %}

<hr>

<p><strong>A random example of what the Administrator would have seen:</strong></p>

<img src="{% static 'admin_view.png' %}"
     style="max-width:600px; border:1px solid #ccc; margin-top:10px;">

<hr>

<p>
You will now proceed to the next stage.
</p>

{{ next_button }}

{% endblock %}