{% extends "global/Page.html" %}
{% block content %}

<h2>Your role</h2>

<p>
In this study, you will be assigned to groups. Each group has <strong>4 Citizens</strong> and <strong>1 Administrator</strong>.
Both, groups, and roles are assigned randomly.
</p>

<p>
In your group, you have been assigned the role: <strong>{{ role }}</strong>.
</p>

<p>
You will not be told the identities of other participants in your group.
All interactions happen through the computer and within your group.
</p>

</p> 
You will be asked to perform a series of tasks and respond to a few questions based on the role you have been assigned.
</p>

</p> 
<strong>Note that you might have to wait for other participants in your group to complete their tasks before you can proceed to the next task. We ask that you stay on the screen during the wait periods.</strong>
</p>

<p>
In the survey, we will use ECU as the currency for the various tasks you perform, where <strong>1 ECU = £0.10</strong>, which will be paid to you as a <strong>bonus payment</strong> in addition to the payment you will receive for sucessfully completing this survey. 
</p>
    
<p>
We ask that you read the instructions/questions carefully.</p>
</p>

{{ next_button }}

{% endblock %}

