{% extends "global/Page.html" %}
{% block content %}

<h2>Your role</h2>

<p>
In this study, each group has <strong>4 Citizens</strong> and <strong>1 Administrator</strong>.
Roles are assigned randomly.
</p>

<p>
You have been assigned the role: <strong>{{ role }}</strong>.
</p>

<p>
You will not be told the identities of other participants in your group.
All interactions happen through the computer. You will be asked to perform a series of tasks and respond to a few questions based on the role you have been assigned. Please read the instructions/questions carefully.</p>
</p>

{{ next_button }}

{% endblock %}

