{% extends "global/Page.html" %}
{% block content %}

<h2>Your role</h2>

<p>
In this study, you will be assigned to groups. Each group has <strong>4 Citizens</strong> and <strong>1 Administrator</strong>.
Both groups and roles are assigned randomly.
</p>

<p>
Y your group, you have been assigned the role: <strong>{{ role }}</strong>.
</p>

<p>
You will not be told the identities of other participants in your group.
All interactions happen through the computer and within your group. 
You will be asked to perform a series of tasks and respond to a few questions based on the role you have been assigned. 
Note that you might to wait for other participants in your group to complete their tasks before you can proceed to the with next task, so please be patient and do not refresh the page.
We ask that you read the instructions/questions carefully.</p>
</p>

{{ next_button }}

{% endblock %}

